.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
}

.card {
  android-elevation: 1;
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  padding: 50px 30px 10px;
  margin-bottom: 100px;
}

.text-field {
  border: solid #000 1px;
  border-width: 1;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 0;
}

.password-container {
  padding-bottom: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.password-container .text-field {
  width: auto;
  flex: 1;
  margin-left: 0;
}

.password-container .icon {
  width: 60px;
  margin-top: 5px;
  align-self: center;
}

.field-label {
  font-size: 18px;
}

.error {
  color: #d23309;
  margin-bottom: 20px;
  opacity: 0;
}

.error.visible {
  opacity: 1;
}

.buttons {
  justify-content: space-between;
  width: 100%

}

.buttons Button {
  width: 45%;
  margin: 10px 0px;
}
